logging:
  level:
    com:
      petclinic: DEBUG
spring:
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
management:
  endpoints:
    access:
      default: unrestricted
    web:
      exposure:
        include: '*'
